.product-container{
    background-color: #c67e7e;
    padding:20px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    margin:1rem;
    width: 250px;
    min-height: 350px;
}

.parent-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#product-name{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    min-height: 2.5rem;
}

#product-img {
    width: 100%;
    height: 260px;
    border-radius: 8%;
    object-fit: cover;
    object-position: center;
}

#product-price{
    font-weight: bold;
}