*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg, #bd80b9, #140b41);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 80px;
}

form{
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

fieldset{
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 8px;
    background:linear-gradient(135deg, #b386b0, #140b41);
    backdrop-filter: blur(10px);
   
}

legend{
    display: block;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    color:white;
    font-size: large;
}

div{
    margin-bottom: 15px;
    color:white ;
    font-weight: bold;
}

div input{
    border:none;
    border-radius: 8px;
}

input,textarea{
    width:100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
}

button{
    padding:10px;
    width: 100%;
    background: linear-gradient(135deg, #cf82ca, #4b447e);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

button:hover{
    background: linear-gradient(135deg, #be20b4, #6155b8);
}