.container{
    height:300px;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 105px auto;
    background-color: #64738a;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1{
    font-size: 2rem;
    color:#333;
    margin-bottom: 20px;
}

.display{
    font-size: 4rem;
    color: #253241;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.button-grp{
    display: flex;
    gap:10px;
}

.btn{
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inc{
    background-color: #4caf50;
    color: white;
}

.dec{
    background-color: #f44336;
    color: white;
}

.reset{
    background-color: #ff9800;
    color: white;
}

.button:hover{
    opacity: 0.9;
}



