:root {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    scroll-margin-top: 70px;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

nav {
    height: 50px;
    background: rgb(60, 60, 108);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.links-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: linear-gradient(90deg, #746181, #5157a4);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background: linear-gradient(90deg, #6a11cb, #fcb045);
    border-radius: 20px;
    margin: 20px;
}

.hero-content {
    max-width: 500px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 20px 0;
}

.hero button {
    background: #cda42a;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
}

.hero-img img {
    width: 100%;
    max-width: 350px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 60px;
    margin: 20px;
    background: #fff;
    color: black;
    border-radius: 20px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.about-text p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-text button {
    padding: 10px 20px;
    border: none;
    background: #6a11cb;
    color: white;
    border-radius: 10px;
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
}

.why {
    padding: 50px;
    text-align: center;
    color: black;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1;
    padding: 20px;
    background: #dac236;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    width: 100%;
    max-width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card p {
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.how {
    padding: 50px;
    text-align: center;
    color: black;
}

.how h2 {
    margin-bottom: 30px;
    color: black;
}

.how-content {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.box {
    background: #c5a53d;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
}

.how-right img {
    width: 400px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background: linear-gradient(90deg, #6a11cb, #fcb045);
    min-height: 500px;
    overflow: visible;
}

.form-left input {
    display: block;
    margin: 10px 0;
    padding: 12px;
    width: 300px;
    border-radius: 10px;
    border: none;
}

.form-left button {
    margin-top: 10px;
    background: #ffc107;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.form-right {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.form-right img {
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.reviews {
    padding: 50px;
    text-align: center;
    color: black;
}

.review-cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.review {
    flex: 1;
    padding: 25px;
    border: black;
    background: rgb(218, 202, 79);
    color: black;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.review p {
    font-style: italic;
}

.review h4 {
    margin-top: 10px;
}

.blogs {
    padding: 50px;
    text-align: center;
    color: black;
}

.blog-cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.blog {
    flex: 1;
    background: white;
    color: black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.blog img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog h3 {
    padding: 10px;
}

.blog p {
    padding: 0 10px 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: #9f8f5e;
    margin: 20px;
    border-radius: 20px;
}

.contact-form button {
    padding: 10px;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

footer {
    background: linear-gradient(90deg, #6a11cb, #8e2de2);
    text-align: center;
    padding: 20px;
}

@media (max-width:900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-wrap: wrap;
    }

    .card {
        flex: 1 1 45%;
    }

    .card img {
        max-width: 100px;
        height: 100px;
    }

    .how {
        flex-direction: column;
        align-items: center;
    }

    .form-section {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

@media (max-width:450px) {

    html {
        font-size: 11pt;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        background: linear-gradient(90deg, #3F2B96, #A8C0FF);
        transition: 0.5s;
    }

    nav a {
        width: 100%;
        padding: 15px;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding: 15px;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    .hero {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .hero h1 {
        font-size: 24px;
    }

    .hero-img img {
        max-width: 250px;
        margin-top: 20px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-img img {
        max-width: 250px;
        margin-top: 20px;
    }

    .cards {
        flex-direction: column;
    }

    .how {
        flex-direction: column;
    }

    .how-right img {
        width: 250px;
        margin-top: 20px;
    }

    .form-section {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .form-left input {
        width: 100%;
    }

    .form-right {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .form-right img {
        max-width: 260px;
    }

    .review-cards,
    .blog-cards {
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

@media (min-width:900px) {
    .form-right img {
        height: 120%;
        object-fit: cover;
    }

    .how-content {
        flex-direction: column;
    }
}